.Dropdown-root {
  position: relative;
  margin-bottom: 1em;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  padding: 0.4em 0.8em;
  border: 1px solid $translate-accent;
  border-radius: 4px;
  background-color: lighten($color: $bg-translation, $amount: 10%);
  color: $placeholder-text;
  transition: all 200ms ease;

  &:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  }
}

.Dropdown-arrow {
  content: ' ';
  display: block;
  position: absolute;
  top: 13px;
  right: 12px;
  height: 0;
  width: 0;
  margin-top: -ceil(2.5);
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: $translate-accent transparent transparent;
}

.Dropdown-menu {
  box-sizing: border-box;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  max-height: 200px;
  width: 100%;
  margin-top: -1px;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  border: 1px solid $translate-accent;
  border-radius: 4px;
  background-color: lighten($color: $bg-translation, $amount: 10%);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 0.4em 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  color: $hero-text;
}

.Dropdown-option {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  padding: 0.4em 0.8em;
  color: $hero-text;

  &:hover {
    background-color: lighten($color: $bg-translation, $amount: 15%);
    color: $translate-accent;
  }

  &.is-selected {
    background-color: lighten($color: $bg-translation, $amount: 5%);
    color: $translate-accent;
  }
}

.is-open {
  .Dropdown-arrow {
    border-width: 0 5px 5px;
    border-color: transparent transparent $hero-text;
  }

  .Dropdown-control {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .Dropdown-menu {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}