.translate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg-translation;
  width: 50%;
  height: 100%;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: $box-shadow;

  select {
    width: 100%;
    height: 2.5em;
    margin-bottom: 1.5em;
    padding: 0.4em 0.8em;
    border: 1px solid $translate-accent;
    border-radius: 4px;
    background-color: lighten($color: $bg-translation, $amount: 10%);
    color: $placeholder-text;
    font-family: $font-main;
    font-weight: 100;
    font-size: 1em;
    transition: all 200ms ease;
  }
}
