// -----------------
// ----- FONTS -----
// -----------------

$font-main: 'Roboto', sans-serif;

// ------------------
// ----- COLORS -----
// ------------------

$bg-fallback: #1D2B64;
$bg-gradient: linear-gradient(to right, #F8CDDA, #1D2B64);
$bg-translation: #2F363D;
$hero-text: #FBF5F3;
$box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);

// -----------------
// ----- SIZES -----
// -----------------

$element-margin: 1.6em;